/* mine root variables */
:root {
  --beige: #dfd7b7;
  --black: black;
  --white:#ffffff;
  --green: #304838;
  --guld:#d88000;
  --orange:#bf4d00;
  --brun:#ab7b44;
  --h1: 2rem;
}

/* Reset global */

* {
  margin: 0;
  padding: 0;
}
section{
  margin-top: 5rem;

}
/* style af body */
body {
  background-color: var(--beige);
  
}
/* style af anchors */
a{
  text-decoration: none;
  color: var(--black);
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* start style af min navbar  */
header {
	display: flex;
	position: sticky;
  top: 0;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	background: var(--green);
  width: 100%;
}

.logo-container {
display: flex;
align-items: center;
}
.logo-tekst{
  font-size: 2.5rem;
  width: auto;
}

.logo {
	width: 25%;
}

.nav-tabs {
	display: flex;
	font-size: 1.4rem;
	list-style: none;
  
}

.nav-tab {
	padding: 10px 25px;
  box-sizing: border-box;
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--beige);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
}

.nav-tab.has-submenu:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px 25px;
}

.hidden {
	display: none;
}
/* slut style af min navbar  */

/* style af forsideoverskrift */
.overskrift{
  background-image: url(/media/topwavebackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 250px; 
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* style af forside sektion */
.forside-sektion{
  
  display: flex;
  justify-content: center;
}
.artikel-indhold{
  max-width: 80%;
}

.forside-billeder{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

}

.forside-billede{
  max-width: 30%;
}


/* style af infograpic 1 */

.forside-infograpic {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100%;
  justify-items: center;

  }
  
  .ol { 
    grid-area: 1 / 2 / 6 / 3;
    
    
  }
  .humle { 
    grid-area: 1 / 1 / 2 / 2; 
    translate: 4rem;
  }
  .hvede { 
    grid-area: 2 / 1 / 3 / 2;
    translate: 4rem; 
  }
  .vand { 
    grid-area: 3 / 1 / 4 / 2; 
    translate: 6.5rem; 
  }
  .gaer { 
    grid-area: 4 / 1 / 5 / 2; 
    translate: 8.5rem; 
  }
  .hemmelig { 
    grid-area: 5 / 1 / 6 / 2; 
    translate: 7rem; 
  }

.infograpic-ikoner{
  display: grid;
  justify-self: end;
  align-self: center;
 



  }
  .forside-infograpic-tekst-1{
    grid-area: 1/1/2/2;
  }
  .forside-infograpic-tekst-2{
    grid-area: 2/1/3/2;
  }
  .forside-infograpic-tekst-3{
    grid-area: 3/1/4/2;
  }
  .forside-infograpic-tekst-4{
    grid-area: 4/1/5/2;
  }
  .forside-infograpic-tekst-5{
    grid-area: 5/1/6/2;
  }
  .forside-infograpic-tekst{
    align-self: center;
    border: 5px solid;
    max-width: 25rem;
  
    
  }



  #humle-tekst{
    visibility: hidden;
}
#humle:hover ~ #humle-tekst{
    visibility: visible;
    transform: scale(1.5);

  }

#humle:hover{
  transform: scale(1.5);
}

#hvede-tekst{
  visibility: hidden;
}
#hvede:hover ~ #hvede-tekst{
  visibility: visible;
  transform: scale(1.5);

}

#hvede:hover{
transform: scale(1.5);
}


#vand-tekst{
  visibility: hidden;
}
#vand:hover ~ #vand-tekst{
  visibility: visible;
  transform: scale(1.5);

}

#vand:hover{
transform: scale(1.5);
}

#gaer-tekst{
  visibility: hidden;
}
#gaer:hover ~ #gaer-tekst{
  visibility: visible;
  transform: scale(1.5);

}

#gaer:hover{
transform: scale(1.5);
}

#hemmelig-tekst{
  visibility: hidden;
}
#hemmelig:hover ~ #hemmelig-tekst{
  visibility: visible;
  transform: scale(1.5);

}

#hemmelig:hover{
transform: scale(1.5);
}

/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* start style af produkter.html */

.produkt{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;

}
.billede-af-produkt{
  height: 20rem;
  width: fit-content;
  transform:translateX(50px);
}
.produkt-kort{
  display: flex;
}

.produkt-beskrivelse{
  margin-left: 20%;
}
.humle-sort{
  margin-left: 20%;
  margin-right: auto;
}
.alkohol-procent{
margin-left: 20%;
margin-right: auto;
}
.køb-knap{
  width: 30%;
  height: 15%;
  border-radius: 50px;
  font-size: 1.2rem;
  transform: translate(40px, 40px);
}

/* start style til cssgrid af produkterne */

.produkt-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-right: 5%;
  }
  
 

/* ********************************************************************************************************** */
/* ********************************************************************************************************** */

/* Styling af footer */

footer {
  background-image: url(/media/topwavebackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 250px; 
  width: 100%;
  bottom: 0;
}
.footer,
.social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--beige);
}

.social a {
  font-size: 22px;
  color: inherit;
  border: 1px solid var(--beige);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  margin-top: 1.5rem;
}
.social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul li {
  display: inline-block;
  padding: 0 0.938rem;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li a:hover {
  opacity: 1;
}
.footer,
.copyright {
  padding: 10px 0;
  text-align: center;
  font-size: 0.813rem;
  color: var(--beige);
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* back to top button */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 5%;
  max-width: 40px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: var(--black);
  border-radius: 50%;
  text-align: center;
}
#myBtn a {
  color:white;
  font-size: 1.5rem;
}

/* media query for mobile */

@media screen and (min-width: 390px) and (max-width: 819px) {




}





/* media query for tablet */
@media screen and (max-width: 1023px) {
  .logo-tekst{
    font-size: 2rem;
    width: auto;
  }
  
  .logo {
    width: 15%;
  }
    .nav-container {
      position: fixed;
      display: none;
      overflow-y: auto;
      z-index: -1;
      top: 0;
      right: 0;
      width: 280px;
      height: 100%;
      background:var(--beige);
      box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }
  
    .nav-tabs {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 80px;
      width: 100%;
    }
  
    .nav-tab {
      padding: 15px 25px;
    }
  
    .menu-btn {
      position: relative;
      display: block;
      margin: 0;
      width: 20px;
      height: 15px;
      cursor: pointer;
      z-index: 2;
      padding: 10px;
      border-radius: 10px;
    }
  
    .menu-btn .menu {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: #111;
      z-index: 2;
    }
    .submenu {
      display: flex;
      flex-direction: column;
      position: static;
      background: var(--beige);
      box-shadow: none;
      list-style: none;
      padding: 0;
  }

 
  .nav-tab.has-submenu:hover .submenu {
      display: flex;
  }

  
      /* styling af mine 3 spans, gør så at de ændre sig fra burger menu til X */
    .menu-btn .menu:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }
  
    .menu-btn .menu:nth-child(3) {
      margin-top: 4px;
    }
  
    #menu-toggle:checked + .menu-btn .menu {
      transition: transform 0.2s ease;
    }
  
    #menu-toggle:checked + .menu-btn .menu1 {
      transform: translate3d(0, 6px, 0) rotate(45deg);
    }
  
    #menu-toggle:checked + .menu-btn .menu2 {
      opacity: 0;
    }
  
    #menu-toggle:checked + .menu-btn .menu3 {
      transform: translate3d(0, -6px, 0) rotate(-45deg);
    }
  
      /* navigationsbar slide in */
    #menu-toggle:checked ~ .nav-container {
      z-index: 1;
      display: flex;
      animation: menu-slide-left 0.5s ease;
    }
    @keyframes menu-slide-left {
      0% {
        transform: translateX(200px);
      }
      to {
        transform: translateX(0);
      }
    }
    .produkt-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-right: 5%;
      }
    .køb-knap{
      font-size: 1rem;
    }

  }

  @media screen and (max-width: 810px) {
    .produkt-section {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-right: 5%;
      }


  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .billede-af-produkt{
      height: 15rem;
      width: fit-content;
      transform:translateX(40px);
    }

    .køb-knap{
      transform: translate(40px, 20px);
    }







  }

/* media query for desktop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #myBtn{
    display: none;
  }

}
