/* mine root variables */
:root {
  --beige: #dfd7b7;
  --black: black;
  --white:#f5f5f5;
  --green: #304838;
  --guld:#d88000;
  --orange:#bf4d00;
  --brun:#ab7b44;
  --h1: 3rem;
  --h2: 2rem;
}

/* Reset global */

* {
  margin: 0;
  padding: 0;
  
}
h1{
  font-size: var(--h1);
  margin: 2rem;
}
h2{
  font-size: var(--h2);
  margin: 2rem;
}
p{
  font-size: 1.3rem;
}
/* style af body */
body {
  background-color: var(--beige);
  
}
/* style af anchors */
a{
  text-decoration: none;
  color: var(--beige);
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* start style af min navbar  */
header {
	display: flex;
	position: sticky;
  top: 0;
	align-items: center;
	justify-content: space-between;
	z-index: 3;
  background-image: url(/media/topwavebackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  max-width: 100%;
}

.logo-container {
display: flex;
align-items: center;
margin-top: -50px;

}
.logo-tekst{
  font-size: 2.5rem;
  width: auto;
  color: var(--beige);
  
}

.logo {
	width: 25%;
}

.nav-tabs {
	display: flex;
	font-size: 1.4rem;
	list-style: none;
  margin-top: -50px;
}

.nav-tab {
	padding: 10px 25px;
  box-sizing: border-box;
}


.hidden {
	display: none;
}
/* slut style af min navbar  */

/* style af forsideoverskrift */
.overskrift{
  display: flex;
  justify-content: center;
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* style af forside sektion */
.forside-sektion{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 1.4rem;
}
.forside-tekst{
  grid-area: 1 / 1 / 6 / 2;
  max-width: 100%;
  margin-left: 5%;
}

.forside-billede-1{
  grid-area: 1 / 2 / 6 / 3;
  max-width: 500px;
 
}

/* style af infograpic 1 */

 
 
  .humle { 
      grid-area: 1 / 3 / 2 / 4;
    z-index: 2;
    transform: translateX(-1.5rem);
  }
  .hvede { 
      grid-area: 2 / 3 / 3 / 4;
    z-index: 2;
    transform: translateX(-1.5rem);
  }
  .vand { 
      grid-area: 3 / 3 / 4 / 4;
    z-index: 2;
    transform: translateX(1.5rem);
  }
  .gaer { 
      grid-area: 4 / 3 / 5 / 4;
    z-index: 2;
    transform: translateX(3.5rem);
  }
  .hemmelig { 
      grid-area: 5 / 3 / 6 / 4;
    z-index: 2;
    transform: translateX(2rem);
  }

.infograpic-ikoner{
  display: grid;
  justify-self: center;
  align-self: center;

  }
  .mobile-infographic-hidden{
    display: none;
  }
  .ol { 
    grid-area: 1 / 3 / 6 / 4;
    justify-self: end;
  
  }
  .forside-infograpic-tekst h2{
      margin: 0;
  }
  .forside-infograpic-tekst-1{
    grid-area: 1/2/2/3;
  }
  .forside-infograpic-tekst-2{
    grid-area: 2/2/3/3;
  }
  .forside-infograpic-tekst-3{
    grid-area: 3/2/4/3;
  }
  .forside-infograpic-tekst-4{
    grid-area: 4/2/5/3;
  }
  .forside-infograpic-tekst-5{
    grid-area: 5/2/6/3;
  }
  .forside-infograpic-tekst{
    align-self: center;
    border: 5px solid;
    max-width: 25rem;
    background-color: var(--beige);

    border-radius: 1rem;
  }



  #humle-tekst{
    visibility: hidden;
}
#humle:hover ~ #humle-tekst{
    visibility: visible;
      
  }

#humle:hover{
  transform: scale(1.5);

}

#hvede-tekst{
  visibility: hidden;
}
#hvede:hover ~ #hvede-tekst{
  visibility: visible;
  

}

#hvede:hover{
transform: scale(1.5);
}


#vand-tekst{
  visibility: hidden;
}
#vand:hover ~ #vand-tekst{
  visibility: visible;
 

}

#vand:hover{
transform: scale(1.5);
}

#gaer-tekst{
  visibility: hidden;
}
#gaer:hover ~ #gaer-tekst{
  visibility: visible;


}

#gaer:hover{
transform: scale(1.5);
}

#hemmelig-tekst{
  visibility: hidden;
}
#hemmelig:hover ~ #hemmelig-tekst{
  visibility: visible;
  
}

#hemmelig:hover{
transform: scale(1.5) ;
}

/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* start style af produkter.html */
.overskrift-produkter{
  text-align: center;
}
.underoverskrift-sektion{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.underoverskrift-produkter{
  max-width: 60%;
}
.produkt{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding-right: 1rem;
}
.produkt-navn{
  margin: 0;
  margin-top: 1rem;
}
.produkt-brun{
  background-color: var(--brun);
}
.produkt-guld{
  background-color: var(--guld);
}
.produkt-grøn{
background-color: var(--green);
}
.produkt-orange{
  background-color: var(--orange);
}
.billede-af-produkt{
  height: 20rem;
  width: fit-content;
  transform:translateX(50px);
}
.produkt-kort{
  display: flex;
}

.produkt-beskrivelse{
  margin-left: 20%;
}
.humle-sort{
  margin-left: 20%;
  margin-right: auto;
  width: 100%;
}
.alkohol-procent{
margin-left: 20%;
margin-right: auto;
}
.køb-knap{
  width: 30%;
  height: 15%;
  border-radius: 50px;
  font-size: 1.2rem;
  background-color:var(--white); 
}

/* start style til cssgrid af produkterne */

.produkt-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-right: 5%;
  }
  .produkt-section p{
    font-size: 1rem;
  }
  /* styling af om os siden */
 /* ********************************************************************************************************** */
/* ********************************************************************************************************** */
.overskrift-om-os{
  text-align: center;
  margin-bottom: 4rem;
}
.historien-bag{
  max-width: 100%;
  display: flex;
 justify-content: center;

}
.historien-bag-figure{
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.historien-bag-billede{
  max-width: 100%;
}
.historien-bag-tekst{
  margin-right: 2rem;
  
}
.infographic-om-os{
  display: flex;
  justify-content: center;
}
.infographic-overskrift{
  text-align: center;
  margin: 4rem;
}
.infographic-process-om-os{
  width: 90%;
  margin: 2rem;
}
.infographic-om-os-mobile{
  display: none;
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* Styling af kontakt os siden */
.overskrift-kontakt-os{
  text-align: center;
}
.underoverskrift-kontakt-os-box{
  display: flex;
  justify-content: center;
}
.underoverskrift-kontakt-os{
  max-width: 60%;
  margin-bottom: 2rem;
}
.kontakt-form {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  text-align: right;
  
}

.form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;

}

.submit{
  background-color: var(--beige);
  color: var(--white);
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: right;
  width: 5rem;
  text-align: center;
}

button:hover {
  background-color: var(--beige);
}
.kontakt-os-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    width: 80%;
    margin: auto;
    }
.kontakt-information{
  line-height: 1.5rem;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin-left: auto;

}
.kontakt-afstand{
  margin-top: 1.5rem;
}
.google-maps{
  grid-area: 2/1/3/3;
  width: 100%;
  height: 100%;
}
.faq-sprøgsmål{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 150px;
  grid-row-gap: 20px;
  justify-content: center;
  width: 80%;
  margin: auto;
  
}
.overskrift-faq{
  text-align: center;
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */


/* Styling af footer */
footer {
background-color: var(--green);
  width: 100%;
  color: white;
 text-align: center;
 
}

.footer-icons {
  font-size: 24px;
  margin-bottom: 10px; 
}

.footer-icons a {
  color: white;
  margin: 0 10px;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px; 
}

.contact-info p, .location-info p {
  margin: 0;
color: var(--beige);
}

.footer-text p {
  margin: 0;
  color: var(--beige);
}
.social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--beige);
}

.social a {
  font-size: 22px;
  color: inherit;
  border: 1px solid var(--beige);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  margin-top: 1.5rem;
}
.social a:hover {
  opacity: 0.9;
}
footer{
  margin-top: 2rem;
}
.kontakt-os-socials{
 text-align: left;
  padding: 0;
}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* back to top button */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 5%;
  max-width: 40px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: var(--black);
  border-radius: 50%;
  text-align: center;
}
#myBtn a {
  color:white;
  font-size: 1.5rem;
  
}
.fa-arrow-up{
  transform: translateY(6px);
}


/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* media query for mobile */



@media screen and (min-width:390px) and (max-width: 820px) {
  /* Styling af globals */
  body{
    margin-top: -10rem;
  }
  h2{
    font-size: 1.5rem;
  }
/* Styling af produkter */
  .produkt-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-width: 80%;
    margin:auto;
  }

  .produkt{
    padding-right: 0.5rem;
  }

  .billede-af-produkt{
    height: 15rem;
    width: fit-content;
    transform:translateX(40px);
  }
/* Styling af navbar */

.logo {
  width: 15%;
}
.menu-btn{
  margin-top: -70px;
}
.logo-tekst{
  font-size: 2rem;
}
.logo-container {

  margin-top: -120px;
  
}
/* Styling af Forsiden */
.mobile-infographic-hidden{
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 100vw;

}
.infograpic-ikoner{
  display: none;
}
.forside-sektion{
  grid-template-columns: 1fr;
grid-template-rows: repeat(2, 0.5fr);
}
.forside-tekst{
  grid-area: 1 / 1/ 2/ 3;
  max-width: 80%;
  margin: 0;
  justify-self: center;
  }
  .forside-billede-1{
    grid-area: 2 / 1/ 3/ 3;
    width: 80%;
    justify-self:center ;
    margin: 5%;
    
  }
  .forside-infograpic-tekst{
    display: none;
  }
/* Styling af Om os */
.forside-infograpic-tekst h2{
  font-size: 1.2rem;
}
.historien-bag-figure{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr;
}
.historien-bag-billede{
  max-width: 100%;
  grid-area: 2 / 1 / 3 / 2;
}
.historien-bag-tekst{
  grid-area: 1 / 1 / 2 / 2;
}
.infographic-om-os{
  display: none;
}
.infographic-om-os-mobile{
  display: flex;
  justify-content: center;
}
.infographic-process-om-os-mobile{
  width: 90%;

}
/* Styling af Kontakt os */

.kontakt-os-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  }

.kontakt-form{
grid-area: 1/1/2/2;
margin: auto;
}
.kontakt-information{
grid-area: 2/1/3/3;
margin: auto;
}

.google-maps{
grid-area: 3/1/4/4;
}

.faq-sprøgsmål{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-row-gap: 20px;
}


  /* styling af footer */
  footer p{
    font-size: 1rem;
  }

}


@media screen and (max-width:550px){
  /* styling af navbar */
  .logo-tekst{
    font-size: 1rem;
  }
}



/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* media query for tablet */
@media screen and (min-width:821px) and (max-width: 1024px) {
  /* styling af Globals */
  body{
    margin-top: -5rem;
  }
  h1{
    font-size: 2rem;
   }
  /* styling af navbar */
  .logo-tekst{
    font-size: 2rem;
    width: auto;
  }
  .logo-container {
    margin-top: -100px;
    }

    .logo {
      width: 15%;
    }
  /* styling af forside */
    .forside-billede-1{
    margin-left: 5%;
    }

     
.forside-infograpic-tekst{
  margin-left: 150px;
}
          
    .forside-sektion{
      grid-template-columns: repeat(2, 1fr);
    }
    .forside-billede-1{
      grid-area: 3/ 1/ 6/ 2;
    }
    
  .humle { 
      grid-area: 1 / 2 / 2 / 3;
    z-index: 2;
  }
  .hvede { 
      grid-area: 2 / 2 / 3 / 3;
    z-index: 2;
  }
  .vand { 
      grid-area: 3 / 2 / 4 / 3;
    z-index: 2;
  }
  .gaer { 
      grid-area: 4 / 2 / 5 / 3;
    z-index: 2;
  }
  .hemmelig { 
      grid-area: 5 / 2 / 6 / 3;
    z-index: 2;
  }



  .ol { 
    grid-area: 1 / 2 / 6 / 3;
  }

  .forside-infograpic-tekst-1{
    grid-area: 1/1/2/2;
  }
  .forside-infograpic-tekst-2{
    grid-area: 2/1/3/2;
  }
  .forside-infograpic-tekst-3{
    grid-area: 3/1/4/2;
  }
  .forside-infograpic-tekst-4{
    grid-area: 4/1/5/2;
  }
  .forside-infograpic-tekst-5{
    grid-area: 5/1/6/2;
  }
/* styling af om os siden */
.historien-bag-figure{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.historien-bag-billede{
  max-width: 100%;
  grid-area: 2 / 1 / 3 / 2;
}
.historien-bag-tekst{
  grid-area: 1 / 1 / 2 / 2;
}
/* styling af produkter */
    .produkt-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-right: 5%;
      }
    .køb-knap{
      font-size: 1rem;
    }


}
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
  @media screen and (min-width:1025px) and (max-width: 1200px) {
    /* styling af forside */
    .forside-sektion{
      grid-template-columns: repeat(2, 1fr);
    }
    .forside-billede-1{
      grid-area: 3/ 1/ 6/ 2;
    }
   
    
  .humle { 
      grid-area: 1 / 2 / 2 / 3;
    z-index: 2;
  }
  .hvede { 
      grid-area: 2 / 2 / 3 / 3;
    z-index: 2;
  }
  .vand { 
      grid-area: 3 / 2 / 4 / 3;
    z-index: 2;
  }
  .gaer { 
      grid-area: 4 / 2 / 5 / 3;
    z-index: 2;
  }
  .hemmelig { 
      grid-area: 5 / 2 / 6 / 3;
    z-index: 2;
  }



  .ol { 
    grid-area: 1 / 2 / 6 / 3;
  }
.forside-infograpic-tekst{
 margin-left: 200px;
}
  .forside-infograpic-tekst-1{
    grid-area: 1/1/2/3;
  }
  .forside-infograpic-tekst-2{
    grid-area: 2/1/3/3;
  }
  .forside-infograpic-tekst-3{
    grid-area: 3/1/4/3;
  }
  .forside-infograpic-tekst-4{
    grid-area: 4/1/5/3;
  }
  .forside-infograpic-tekst-5{
    grid-area: 5/1/6/3;
  }





  }
/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* media query for desktop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
 /* styling af back to top button */
  #myBtn{
    display: none;
  }

}

/* ********************************************************************************************************** */
/* ********************************************************************************************************** */
/* media query for navbar */
@media screen and (min-width:390px) and (max-width:1024px) {
/* styling af navbar fra nav til Burger */
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background:var(--beige);
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
   
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
    
  }

  .nav-tab {
    padding: 15px 25px;
    
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    margin-top: -95px;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #111;
    z-index: 2;
    
  }
  .submenu {
    display: flex;
    flex-direction: column;
    position: static;
    background: var(--beige);
    box-shadow: none;
    list-style: none;
    padding: 0;
  
}

.nav-tab a{
  color: var(--green);
}
.nav-tab.has-submenu:hover .submenu {
    display: flex;
}


    /* styling af mine 3 spans, gør så at de ændre sig fra burger menu til X */
  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menu-toggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menu-toggle:checked + .menu-btn .menu1 {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menu-toggle:checked + .menu-btn .menu2 {
    opacity: 0;
  }

  #menu-toggle:checked + .menu-btn .menu3 {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

    /* navigationsbar slide in */
  #menu-toggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.5s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }

  
}